{% extends "shop/base.html" %}
{% load i18n %}
{% block title %}
  {% trans "Ваш заказ" %}
{% endblock %}

{% block content %}
  <h1>  {% trans "Ваш заказ" %} </h1>

  <div class="order-info">
    <h3>{% trans "Ваш заказ" %}</h3>
   <ul>
{% for item in cart %}
<li>
{{ item.quantity }}x {{ item.product.name }}
<span>{{ item.total_price|floatformat:"2" }} сом</span>
</li>
{% endfor %}
{% if cart.coupon %}
<li>
  {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
"{{ code }}" ({{ discount }}% off)
{% endblocktrans %}
<span>- {{ cart.get_discount|floatformat:"2" }} сом</span>
</li>
{% endif %}
</ul>
    <p>{% trans "Общая цена" %}: {{ cart.get_total_price_after_discount|floatformat:"2" }}сом</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="{% trans 'Отправить заказ' %}"></p>
    {% csrf_token %}
  </form>
{% endblock %}